---
import Section from "../Section.astro";

import { basics } from "../../cv.json"

const { summary } = basics
---
<Section title="Sobre mí">
    <p>
        { summary }
    </p>
    <h3>Habilidades técnicas:</h3>
    <p>Amplio dominio de lenguajes de programación frontend con JavaScript, HTML y Css.
        Experiencia solida en frameworks como React, Angular, Astro y Next.js.
        Conocimientos en Java, .Net y Spring Boot en la parte de backend, 
        Construcción de e-commerce en Shopify.
        Experiencia solida como Developer Frontend Liferay, DXP, Portlet y FreeMarker.
        Conocimientos en metodologías ágiles en el desarrollo de software y buenas prácticas de codificación.
        Manejo solido en Git y GitHub.
        Capacidad para trabajar con APIs y bases de datos SQL, MySQL, Postgresql y PHP.</p>
    <h3>Habilidades blandas:</h3>
    <p>Excelente capacidad de análisis y resolución de problemas.
        Orientación a resultados y cumplimiento de objetivos.
        Trabajo en equipo y comunicación efectiva.
        Autoaprendizaje y constante actualización en las últimas tecnologías.</p>
</Section>
<style>
     h3 {
        font-weight: 500;
        color: #111;
        margin-top: 20px;
    }
</style>